doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/lobby.css')

  title Document
.game_window
  .bot-left-side
    .container-chat
      .accordion-content
        .chat-field
        br
        .input-container
          input#input-field-chat.input-field-chat(type='text')
          button#input-button.input-button SEND
        br
        br
      button.accordion CHAT
      script(src='/socket.io/socket.io.js')
      script(src='/scripts/chatbox.js')
  .bot-center
    button.refresh-games-button REFRESH GAME LIST
    .game-list
      .box-game-list
  .bot-right-side
    button.new-game-button CREATE NEW GAME
    button.logout-button LOGOUT
     script(src='/scripts/lobby.js')
  // </div>
